{% extends "base.html" %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <style>
            .widget {
                background-color:#eeeeee; 
                border-radius: 10px;
                margin: auto;
            }
        </style>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Thêm Test Case</h2>
                    </div>

                    <div class="ibox-content">
                        <form action="create_test_case" id="form" method="POST">
                            

                            <div class="row">
                                <label class="col-sm-2 control-label">Tên Test Case</label>
                                <div class="col-sm-5"><input type="text" name="name" class="form-control" required/></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Tổng đài</label>
                                <div class="col-lg-4">
                                    <select name="campaign_id" class="form-control">
                                        {% for c in campaigns %}
                                            <option value="{{c['id']}}">{{c['name']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Mô tả</label>
                                <div class="col-lg-4"><textarea name="description" class="form-control"></textarea></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-sm-2 control-label">Bắt buộc</label>
                                <div class="col-sm-5"><input type="checkbox" name="require" value="1" class="form-control"/></div>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="scriptList.addScript()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Thêm Kịch bản Nghe/Gọi
                                    </button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div id="script-list"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="sm()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Lưu và tiếp tục
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <script src="assets/js/change_test_case.js" type="text/javascript"></script>
        <script src="assets/js/edit_test_case.js" type="text/javascript"></script>

        <script>
            var scriptList = new CallListenScriptList(document.getElementById('script-list'));
            scriptList.addScript();
            scriptList.scripts[0].addAction();


            {% for n in numbers %}
                callees.push({
                    id: "{{n['eid']}}",
                    number: "{{n['extension_number']}}"
                });
            {% endfor %}

            function sm() {
                scriptList.setDataName();
                
                if (confirm("Bạn có chắc mình muốn tạo 1 Test Case đáng yêu như vậy? Hành động này sẽ không thể quay lại")) {
                    return document.forms['form'].submit();
                }
                
            }
        </script>

    </div>

{% endblock %}