{% extends "base.html" %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <style>
            .widget {
                background-color:#eeeeee; 
                border-radius: 10px;
                margin: auto;
            }
        </style>

        <script src="assets/js/create_test_case.js" type="text/javascript"></script>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Thêm Test Case</h2>
                    </div>

                    <div class="ibox-content">
                        <form action="create_test_case" id="form" method="POST">
                            

                            <div class="row">
                                <label class="col-sm-2 control-label">Tên Test Case</label>
                                <div class="col-sm-5"><input type="text" name="name" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Mô tả</label>
                                <div class="col-lg-4"><textarea name="description" class="form-control"></textarea></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="widgetList.addWidget()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Thêm Kịch bản Nghe/Gọi
                                    </button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div id="widget-list"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="sm()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Lưu và tiếp tục
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        

        <script>
            var widgetList = new WidgetList(document.getElementById('widget-list'));
            widgetList.addWidget();
            widgetList.widgets[0].addAction();

            function sm() {
                widgetList.setDataName();
                
                if (confirm("Wanna Submit")) {
                    document.getElementById('form').submit();
                }
                
            }
        </script>

    </div>

{% endblock %}