{% extends "base.html" %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <style>
            .widget {
                background-color:#eeeeee; 
                border-radius: 10px;
                margin: auto;
            }
        </style>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Thêm Test Case</h2>
                    </div>

                    <div class="ibox-content">
                        <form action="edit_test_case" id="form" method="POST">
                            <input type="hidden" name="id" value="{{test_case['id']}}" />
                            

                            <div class="row">
                                <label class="col-sm-2 control-label">Tên Test Case</label>
                                <div class="col-sm-5"><input type="text" name="name" value="{{test_case['name']}}" class="form-control" required></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Tổng đài</label>
                                <div class="col-lg-4">
                                    <select name="campaign_id" class="form-control">
                                        {% for c in campaigns %}
                                            <option value="{{c['id']}}" {{'selected' if c['id'] == test_case['id_campaign']}}>{{c['name']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Mô tả</label>
                                <div class="col-lg-4"><textarea name="description" class="form-control">{{test_case['desc']}}</textarea></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-sm-2 control-label">Bắt buộc</label>
                                <div class="col-sm-5"><input type="checkbox" name="require" value="1" class="form-control" {{'checked' if test_case['require']}}/></div>
                                
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="widgetList.addCallListen()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Thêm Kịch bản Nghe/Gọi
                                    </button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div id="widget-list"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" onclick="sm()" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Lưu và tiếp tục
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/js/change_test_case.js"></script>
        <script src="assets/js/edit_test_case.js"></script>
        <script>

            var widgetList = new CallListenScriptList(document.getElementById('widget-list'));

            {% for n in numbers %}
                callees.push({
                    id: `{{n['id']}}`,
                    number: `{{n['extension_number']}}`
                });
            {% endfor %}

            let last;
            let item;
            let back;

            {% for cld in call_listen_scripts %}
                widgetList.addCallListen();
                last = widgetList.widgets.length - 1;
                item = widgetList.widgets[last];
                item.id.value = "{{cld[0]['id']}}";
                item.types.radios[{{0 if cld[0]['type'] == 'call' else 1}}].checked = true;
                item.types.radios[{{1 if cld[0]['type'] == 'call' else 0}}].checked = false;

                item.data.phone.value = "{{cld[0]['machine']}}";
                item.data.defaultState.value = "{{cld[0]['default_state']}}";
                item.data.defaultCallee.value = "{{','.join(cld[0]['default_callee'])}}";
                
                {% for a in cld[1] %}
                    item.addAction();
                    back = item.actions[item.actions.length - 1];
                    back.id.value = "{{a['id']}}";
                    back.name.value = "{{a['name']}}";
                    back.value.value = "{{a['value']}}";
                    back.note.value = "{{a['note']}}";
                {% endfor %}
            {% endfor %}

            function sm() {
                widgetList.setDataName();
                
                if (confirm("Bạn có chắc mình muốn chỉnh sửa Test Case đáng yêu này? Hành động này sẽ không thể quay lại")) {
                    return document.forms['form'].submit();
                }  
            }
        </script>

        <script >
            
        </script>

    </div>

{% endblock %}