{% extends "base.html" %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <style>
            .widget {
                background-color:#eeeeee; 
                border-radius: 10px;
                margin: auto;
            }
        </style>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Chỉnh sửa Test Case</h2>
                    </div>

                    <div class="ibox-content">
                        <form action="edit_test_case" id="form" method="POST">
                            <input type="hidden" name="id" value="{{testCase['id']}}" />
                            

                            <div class="row">
                                <label class="col-sm-2 control-label">Tên Test Case</label>
                                <div class="col-sm-5"><input type="text" name="name" value="{{testCase['name']}}" class="form-control" required></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Tổng đài</label>
                                <div class="col-lg-4">
                                    <select name="campaign_id" onchange="changCampaign(this.value)" class="form-control">
                                        {% for c in campaigns %}
                                            <option value="{{c['id']}}" {{'selected' if c['id'] == testCase['id_campaign']}}>{{c['name']}}</option>
                                        {% endfor %}
                                    </select>
                                    <small>Thay đổi Tổng đài có thể ảnh hưởng đến thông tin bên dưới</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-lg-2 control-label">Mô tả</label>
                                <div class="col-lg-4"><textarea name="description" class="form-control">{{testCase['desc']}}</textarea></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <label class="col-sm-2 control-label">Bắt buộc</label>
                                <div class="col-sm-5"><input type="checkbox" name="require" value="1" class="form-control" {{'checked' if testCase['require']}}/></div>
                                
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button type="button" id="add" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Thêm Kịch bản Nghe/Gọi
                                    </button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div id="script-list"></div>

                            <div class="row">
                                <div class="col-lg-3 col-lg-offset-3">
                                    <button id="sm" type="button" class="btn btn-primary">
                                        <i class="fa fa-save"></i> Lưu và tiếp tục
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="module">
            import { CallListenScriptList, ScriptTypeRadios, callees } from './assets/js/modify_test_case.js';

            var scriptList = new CallListenScriptList(document.getElementById('script-list'));

            {% for n in numbers %}
                callees.push('{{n}}');
            {% endfor %}

            let last;
            let item;
            let back;

            {% for cld in call_listen_scripts %}
                scriptList.addScript();
                last = scriptList.scripts.length - 1;
                item = scriptList.scripts[last];
                item.id.value = "{{cld['data']['id']}}";         

                {% if cld['data']['type'] == 'call' %}
                    item.types.radios[ScriptTypeRadios.CALL].checked = true;

                    item.data.defaultState.value = "{{cld['data']['default_state']}}";
                    item.data.defaultCallee.value = "{{','.join(cld['data']['default_callee'])}}";

                {% else %}
                    item.types.radios[ScriptTypeRadios.LISTEN].checked = true;

                    item.setListenScript();
                    item.data.ringTime.value = "{{cld['data']['ring_time']}}";
                {% endif %}

                item.data.phone.value = "{{cld['data']['machine']}}";
                
                {% for a in cld['actions'] %}
                    item.addAction();
                    back = item.actions[item.actions.length - 1];
                    back.id.value = "{{a['id']}}";
                    back.name.value = "{{a['name']}}";
                    back.value.value = "{{a['value']}}";
                    back.note.value = "{{a['note']}}";
                {% endfor %}
            {% endfor %}

            document.getElementById('sm').onclick = () => {
                scriptList.setDataName();
                
                if (confirm('Bạn có chắc mình muốn chỉnh sửa Test Case đáng yêu này? Hành động này sẽ không thể quay lại')) {
                    document.forms['form'].submit();
                }  
            }

            document.getElementById('add').onclick = () => {
                scriptList.addScript();
            }
        </script>
            
    </div>


{% endblock %}