
{% for tc in testCases %}
    <tr class="gradeX">
        <td>{{tc['tc']['id']}}</td>
        <td>{{tc['tc']['name']}}</td>
        <td>{{tc['cname']}}</td>
        <td>{{tc['tc']['create_date'].date()}}</td>
        <td><a onclick="editTestCase(`{{tc['tc']['id']}}`)">Edit</a></td>
        <td>{{tc['tc']['desc']}}</td>
        <td>
            <button onclick="deleteTestCase(`{{tc['tc']['id']}}`)">
                <i class="fa fa-minus"></i>
            </button>
        </td>
    </tr>
{% endfor %}