{% for td in test_dialplans %}
    <tr class="gradeX">
        {% set data = td['data'] %}
        {% set id = data['id'] %}
        <td>{{data['name']}}</td>

        <td>{{td['campaignName']}}</td>

        <td>{{data['create_date'].date()}}</td>

        <td>{{data['test_account']}}</td>

        <td class="{{'green' if td['tc']['passed'] == td['tc']['total'] else 'red'}}">
            {{td['tc']['passed']}}/{{td['tc']['total']}}
        </td>

        <td>{{data['hotline_number']}}</td>
        
        <td><a href="/dependent_test_cases?test_dialplan_id={{id}}">Xem chi tiết</a></td>

        <td>
            <button onclick="deleteDialplan('{{id}}')">
                <i class="fa fa-minus"></i>
            </button>
        </td>

    </tr>
{% endfor %}