

{% for tc in test_case_list %}
    <tr class="gradeX">
        {% set id = tc['id'] %}
        <td>{{tc['name']}}</td>

        <td>
            <input type="checkbox" id="select-{{id}}" class="select" name="select-{{id}}">
            <label for="select-{{id}}">Select</label>
        </td>

        <td>{{tc['create_date'].date()}}</td>

        <td></td>

        <td><a href="/edit_test_case?id={{id}}&test_dialplan_id={{test_dialplan_id}}">Edit</a></td>

        <td>{{tc['desc']}}</td>
        
        <td>
            <button onclick="redirect('delete_test_case?id={{id}}&test_dialplan_id={{test_dialplan_id}}')">
                <i class="fa fa-minus"></i>
            </button>
        </td>
    </tr>
{% endfor %}